<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<strong>Micropost:</strong>
	<ul>
		<% Micropost.where(user_id: @user.id).each do |micropost| %>
		<li><%= micropost.content %></li>
		<% end %>
	</ul>
	
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
